<ul>
  <li>
    Name: <%= recipe.name %>
  </li>
  <li>
    Ingredients:
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
      <li>
        <%= ingredient.name %>
      </li>
      <% end %>
    </ul>
  </li>
</ul>
